.devcontainer/.bashhist
.devcontainer/.vscode-server
.devcontainer/.vscode-server-insiders
.git
.gradle
.output
.Dockerignore
Dockerfile
docker-compose.yml
logs
derby.log
**/.terraform

# Possible secrets paths:
.secrets
secrets
credentials
**/.secrets
**/secrets
**/credentials

# Comment out this line after testing:
# build.gradle
