# Secrets stored here (`aws-secrets-manager-secrets.yml`) will automatically be deployed to AWS Secrets Manager.
# Secrets will be created in secret manager as follows:
#           arn:aws:secretsmanager:us-east-2::secret:MY-APP-ID-ygkLPL

S3_CSV_aws_access_key_id:     asdf******
S3_CSV_aws_secret_access_key: asdf******
